@charset "UTF-8";

html {
    font-family: sans-serif;
    font-size: 16px;
    width: 90%;
    margin: auto;
}
.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}
.cabecalho {
    text-align: center;
}
.navegacao-topo-logo {
    padding: 10px;
}
.navegacao {
    text-align: center;
    background: #3c0202;
}
.navegacao-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegacao-lista a {
    color: white;
    text-decoration: none;
    display: block;
    padding: .5em;
    text-transform: uppercase;
}
.navegacao-lista a:hover {
    background: #600101;
}
.imgcentral {
    max-width: 100%;
    width: 100%;
    display: block;
    box-sizing: border-box; 
    border-radius: 15px;
    margin: .5em 0;
}
.sessaoprincipal {
    width: 100%;
    display: inline-block;
    
}
.imagem-article {
    padding-top: .5em;
    width: 95%;
    height: auto;
    border-radius: 15px;
    
}
.sessaoprincipal-div {
    background: #600101;
    border-radius: 15px;
    text-align: center;
}
.sessaoprincipal article h2 {
    font-size: 2em;
    text-transform: uppercase;
}
.sessaoprincipal .desc p {
    font-size: 1.5em;
    max-width: 45ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
}
.sessaoprincipal a {
    text-align: right;
    text-decoration: none;
    color: #f8d303;
}
.passeio-principal {
    background-image: url(../img/20210731_223518_0000.png);
    font-size: 1.2em;
    
}
.passeio-principal img {
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
}
.rodape {
    background: black;
    color: white;
    text-align: center;
}
.rodape-coluna {
    border-bottom: 2px solid white;
}
.navegacao-lista-rodape {
    list-style: none;
}
.rodape-linha {
    background: black;
    color: white;
    text-align: center;
    padding: 1.5em;
    
}
.rodape-coluna img {
    background-color: white;
    border-radius: 50%;
}
@media screen and (min-width: 48.75em) {
    .passeio-principal {
        background: transparent;
        
    }
    .navegacao {
        background: transparent;
        float: right;
        margin-top: 5em;
    }
    .navegacao-topo-logo {
        float: left;
        padding: 0;
        margin: 0;
    }
    .navegacao ul {
        margin: 0;
        padding: 0;
    }
    .navegacao li {
        display: inline-block;
    }
    .navegacao a {
        color: #3c0202;
    }
    .navegacao a:hover {
        background: #600101;
    }
    .sessaoprincipal-div {
        width: 48%;
        margin: 1%;
        float: left;
    }
    .rodape-coluna {
        width: 33%;
        float: left;
        border-left: 1px solid white;
        border-bottom: 0;
    }
   
}