@charset "UTF-8";

html {
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
    width: 90%;
    margin: auto;
    position: relative;
    background-color: #eeeeee;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}
.cabecalho {
    text-align: center;
}
#check {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s linear;
    
}
.check-label {
    position: absolute;
    left: 0px;
    top: 140px;
    
}
#check:checked ~ .navegacao {
    position: relative;
    transform: translateX(107%);
    transition: all .5s linear;
}
.navegacao-topo-logo {
    padding: 10px;
}
.navegacao {
    width: 100%;
    text-align: center;
    background: #e64f14;
    position: absolute;
    left: -107%;
    transition: all .5s linear;
}
.navegacao-lista {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all .3s linear;
}

.navegacao-lista a {
    color: white;
    text-decoration: none;
    display: block;
    padding: .5em;
    text-transform: uppercase;
    border-radius: 15px;
    transition: all .3s linear;
}
.navegacao-lista a:hover {
    background: #da3f02;
    transition: all .3s linear;
}
.imgcentral {
    max-width: 100%;
    width: 100%;
    display: block;
    box-sizing: border-box; 
    border-radius: 15px;
    margin: .5em 0;
    transition: all .5s linear;
}
.sessaoprincipal {
    width: 100%;
    display: inline-block;
    padding-top: 1.2em;
    transition: all .5s linear;
}
.imagem-article {
    padding-top: .5em;
    max-width: 95%;
    border-radius: 15px;
    
}
.sessaoprincipal-div {
    background: #ddd;
    border-radius: 15px;
    text-align: center;
    
}

.sessaoprincipal h2 {
    font-size: 2em;
    text-transform: uppercase;
}
.desc-inform {
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    max-width: 500px;
}
.sessaoprincipal a {
    text-align: right;
    text-decoration: none;
    color: #4980f5;
}
.passeio-principal {
    background-image: url(../img/20210731_223518_0000.png);
    font-size: 1.2em;
    
}
.passeio-principal img {
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
}
.rodape {
    background: #387e1c96;
    color: white;
    text-align: center;
    margin-top: 40px;
    
}
.rodape-coluna {
    border-bottom: 2px solid white;
    font-size: 1.2em;
}
.navegacao-lista-rodape {
    list-style: none;
}
.rodape-linha {
    background: black;
    color: white;
    text-align: center;
    
    
}
.rodape-coluna img {
    width: 7.5em;
    padding-bottom: 10px;
    padding-right: 10px;
}
.investimento-article {
    background-color: #46ecec;
    width: 100%;
    border-radius: 15px;
    font-size: 1.5em;
    text-align: center;
    color: black;
}
.sessaoprincipal-informacao {
    background-color: #46ecec;
    text-align: center;
    border-radius: 15px;
    padding: 10px 0px;
    color: black;
}
 .sessaoprincipal-desc-bateevolta {
    background-color: white;
    overflow: visible;
    text-overflow: unset;
    white-space: inherit;
    padding: 1.5em;
    border-radius: 15px;
    color: #ee6d3a;
    line-height: 1.5;
}
.sessaoprincipal-informacao p {
    font-size: 1.5em;
}
.sessaoprincipal-opcional {
    background-color: #46ecec;
    width: 100%;
    border-radius: 15px;
    text-align: center;
}
.col-1-2 {
    display: block;
    width: 100%;
}
.cadastro {
    width: 100%;
    display: block;
}
fieldset {
    margin-bottom: 100px;
}
.cadastro label {
    width: 100%;
    display: inline-block;
    font-size: 1.5em;
}
#forma_pagamento {
    background-color: #eeeeee;
    border-radius: 10px;
    width: 20%;
    height: 50px;
}
.cadastro input {
    width: 100%;
    height: 3em;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 1.4em;
}
input[type="submit"] {
    display: block;
    width: 9.36em;
    background-color: #ccc;
    font-size: 1.5em;
}
input#valido {
    width: 40px;
    display: inline;
    text-align: left;
}
.img-onibus {
    max-width: 100%;
}
.img-barraca {
    width: 100%;
}
.infocliente {
    font-size: 1.2em;
    padding-left: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
    display: inline-block;
    width: 100%;
}
.form-cliente-excursao {
    width: 40%;
}
.clienteTabela {
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    .clienteTabela thead {
        background-color: black;
        font-weight: bold;
        color: #fff;
    }
    .clienteTabela tfoot {
        background-color: #eeeeee;
        text-align: right;
    }
    .clienteTabela tbody:nth-child(2n) {
        background-color: #ccc;
    }
    
    .mySlider {
        display: none;
    }
    img {
        vertical-align: middle;
    }
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }
    .text {
        color: #f2f2f2;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    .numberText {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active {
        background-color: #717171;
    }
    .face {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

@media screen and (min-width: 48.75em) {
    .text {
        font-size: 20px;
    }
    .check-img {
        visibility: hidden;

    }
    .passeio-principal {
        background: transparent;
        
    }
    .navegacao {
        background: transparent;
        float: right;
        margin-top: 5em;
        position: inherit;
        width: inherit;
        transition: none;
    }
    .navegacao-topo-logo {
        float: left;
        padding: 0;
        margin: 0;
    }
    .navegacao ul {
        margin: 0;
        padding: 0;
    }
    .navegacao li {
        display: inline-block;
    }
    .navegacao a {
        color: #3c0202;
        transition: none;
    }
    .navegacao a:hover {
        background: #d63d00;
        transition: none;
    }
    .sessaoprincipal-div {
        width: 44%;
        margin: 3%;
        float: left;
        
    }
    .sessaoprincipal {
        margin-left: auto;
        margin-right: auto;
        
    }
    .sessaoprincipal-informacao {
        background-color: #ddd;
    }
    .sessaoprincipal-opcional {
        background-color: #ee6d3a;
        width: 200px;
        height: auto;
        border-radius: 50%;
        position: absolute;
        top: 75%;
        transform: rotate(-25deg);
    }
    .sessaoprincipal-desc-bateevolta {
        font-size: 1.5em;
        text-align: center;
        min-height: 4   00px;
    }
    .img-onibus {
        float: left;
    }
    .img-barraca {
        width: 300px;
        float: right;
        border-radius: 50%;
    }
    
    .investimento-article {
        background-color: #ddd;
    }
   
    .rodape-coluna {
        width: 33%;
        float: left;
        border-left: 1px solid white;
        border-bottom: 0;
    }
    .col-1-2 {
        display: inline-block;
        width: 48%;
    }
    
    .infocliente {
        width: 30%;
    }
    .tituloExcursao {
        font-size: 1.8em;
        color: #ccc;
    }
    .underslide {
        padding-top: 150px;
    }
}